  
    <% @restaurant.reviews.newest_first.each do |review| %>
        <p class="comment">
          <%= review.content %>
          <br>
          <% if review.user != nil %>
            <em>by <%= review.user.email %></em><br>
            <span>Added on: <%= review.created_at.to_date %></span>
          <% end %>
        </p>
    <% end %>

